@import '~antd/dist/antd.css';

.ant-statistic-content-value {
  font-size: 0.75em;
}

.ant-page-header-heading-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
}

.ant-layout-header {
  padding: 0 32px;
}
