@import '~antd/dist/antd.css';

.ant-statistic-content-value {
  font-size: 0.75em;
}

.ant-page-header-heading-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
}

.ant-layout-header {
  padding: 0 32px;
}

.ant-input[disabled] {
  color: rgba(0, 0, 0, 0.75);
}

.ant-picker-input > input[disabled] {
  color: rgba(0, 0, 0, 0.75);
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: rgba(0, 0, 0, 0.75);
  user-select: text;
}

.ant-input-number-input {
  text-align: right;
}

.ant-input-number {
  transition-delay: 0.25s;
}

.ant-input-number:hover {
  padding-right: 1rem;
  transition-delay: initial;
}
